<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AutenticarAdministradorController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.AutenticarAdministradorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarSolicitudesPendientesController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.ListarSolicitudesPendientesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministrarPerfilAdmController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.AdministrarPerfilAdmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAdministradorController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.HomeAdministradorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarInspeccionController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.RegistrarInspeccionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarAdministradorController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.ModificarAdministradorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarAdministradorController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.BuscarAdministradorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarReporteEstadosController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.GenerarReporteEstadosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportarSolicitudesController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.ReportarSolicitudesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerEstadisticaDependenciaController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.ObtenerEstadisticaDependenciaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutenticarUsuarioController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.AutenticarUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalirController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.SalirController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaSolicitudController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.NuevaSolicitudController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModalLoguinController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.ModalLoguinController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarSolicitudesController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.ListarSolicitudesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarSolicitudController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.EliminarSolicitudController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministrarPerfilUserController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.AdministrarPerfilUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearUsuarioController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.CrearUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MantenerUsuarioController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.MantenerUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportarInspeccionController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.ReportarInspeccionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarSolicitudesAtendidasController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.ListarSolicitudesAtendidasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarInspeccionController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.ActualizarInspeccionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarDocumentoInspeccionController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.GenerarDocumentoInspeccionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarIdUsuarioController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.ValidarIdUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarDniController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.ValidarDniController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarIdAdministradorController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.ValidarIdAdministradorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForoController</servlet-name>
        <servlet-class>pe.gob.munihuamanga.sigstel.controller.RevisarforoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForoController</servlet-name>
        <url-pattern>/foro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutenticarAdministradorController</servlet-name>
        <url-pattern>/administrator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarSolicitudesPendientesController</servlet-name>
        <url-pattern>/listarPendientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministrarPerfilAdmController</servlet-name>
        <url-pattern>/perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAdministradorController</servlet-name>
        <url-pattern>/homeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarInspeccionController</servlet-name>
        <url-pattern>/registrarInspeccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportarSolicitudesController</servlet-name>
        <url-pattern>/reporteSolicitudes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutenticarUsuarioController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalirController</servlet-name>
        <url-pattern>/salir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaSolicitudController</servlet-name>
        <url-pattern>/nuevaSolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModalLoguinController</servlet-name>
        <url-pattern>/modalLoguin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarSolicitudesController</servlet-name>
        <url-pattern>/listarSolicitudes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarSolicitudController</servlet-name>
        <url-pattern>/eliminarSolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministrarPerfilUserController</servlet-name>
        <url-pattern>/administrarPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearUsuarioController</servlet-name>
        <url-pattern>/crearUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MantenerUsuarioController</servlet-name>
        <url-pattern>/mantenerUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportarInspeccionController</servlet-name>
        <url-pattern>/reporteInspeccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarSolicitudesAtendidasController</servlet-name>
        <url-pattern>/listarAtendidas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarInspeccionController</servlet-name>
        <url-pattern>/actualizarInspeccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarDocumentoInspeccionController</servlet-name>
        <url-pattern>/generarDocumentoInspeccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarIdUsuarioController</servlet-name>
        <url-pattern>/validarIdUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarDniController</servlet-name>
        <url-pattern>/validarDni</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
</web-app>
